@use '@vizality' as vz;

.spotify-in-discord-embed {
  &-large-album-art {
    &-wrapper {
      @include vz.size(300px);
    }
    &-image {
      &-backdrop {
        opacity: .4;
        max-width: 50%;
        &-blur {
          background-size: cover;
        }
      }
    }
    &-img {
      @include vz.size(100%);
    }
  }
}
