@use '@vizality' as *;

.spotify-in-discord-modal {
  $base: &;
  &-search {
    margin-top: 10px;
  }
  &-track {
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
    cursor: pointer;
    background: var(--background-secondary);
    padding: 10px;
    margin: 5px;
    transition: background-color .2s, box-shadow .2s;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid var(--background-secondary-alt);
    &:hover {
      background: var(--background-tertiary);
      box-shadow: var(--elevation-high);
      #{$base}-track-action {
        color: var(--header-secondary);
      }
    }
    &-list {
      display: flex;
      flex-flow: row wrap;
      margin: 0 -5px 16px;
      > .spinner-2enMB9 {
        @include size(100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border: 0;
      }
    }
    &-metadata {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      flex: 1;
      z-index: 1;
      margin-right: 20px;
    }
    &-action {
      color: color('white', .1);
      transition: color .2s;
    }
    &-name {
      @include ellipsis;
      font-size: 14px;
      font-weight: 600;
      color: var(--header-primary);
    }
    &-author {
      @include ellipsis;
      font-size: 12px;
      font-weight: 400;
      color: var(--header-secondary);
      margin-top: 4px;
    }
    &-image {
      @include size(50px);
      position: relative;
      margin-right: 12px;
      flex: 0 0 auto;
      z-index: 1;
      &-backdrop {
        right: unset;
        left: 0;
        opacity: .4;
        transform: scaleX(-1);
      }
    }
    &-image-wrapper {
      @include size(100%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-img {
      @include size(100%);
    }
  }
}
